body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: cadetblue;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


@font-face {
  font-family: 'pigtruman';
  src: local('pigtruman') ,  url(./assets/fonts/pigtruman.ttf) format('truetype');
}
@font-face {
  font-family: 'hongLei';
  src: local('hongLei'), url(./assets/fonts/hongLei.ttf) format('truetype');
}
@font-face {
  font-family: 'shangshou';
  src: local('shangshou'), url(./assets/fonts/shangshou.ttf) format('truetype');
}